* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
div{
  display: block;
}
.common__sub-ttl {
  font-family: 'Devonshire', cursive;
  color: maroon;
  z-index: 2;

}
.common__ttl {
  font-size: 20px;
  color: #707070;
}

.header {
  position: flex;
  width: 100%;
  padding: 30px 0;
  /* background-color: #fff; */
  /* text-align: left; */
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 3;
}
#header-left{
  margin-left: 10px;
}
.header-parts {
  width: 50%;
}
#header__logo {
  word-break: break-all;
}
#header__logo img{
  width: 120px;
}
/* img:not(#header__logo){
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  box-sizing: border-box;
} */
#header-r {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}
.header-nav {
  margin-right: 20px;
  display: flex;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}

ul{
  list-style: none;

}
li{
  color: #909090;
  margin: 0 18px;
}

/* .header */

#main{
  /* position: absolute; */
  margin-top: auto 0;
  z-index: 0;
}

.firstview{
  /* position: absolute; */
}
.firstview__eyecatch {
  position: relative;
}

.firstview__eyecatch img {
  display: block;
  margin: 0 0 0 auto;
  width: 60%;
}
.firstview__content{
  margin-left: 50%;
  margin-top: -20%;
  margin-bottom: auto;
  position: absolute;
}
.firstview__content-eyecatchdiv{
  color: #B31667;
  font-size: 32px;
  font-family: 'Nanum Pen Script', cursive;
}
.change__clr{
  color: #16B7B3;
  font-family: 'Nanum Pen Script', cursive;
}
.firstview__content-sub-copy{
  margin-top: 32px;
  color: #B31667;
  font-size: 16px;
  font-family: 'Nanum Pen Script', cursive;
}
.firstview__content-text{
  color: #888;
}

/* .firstview */


.small-container{
display: flex;
justify-content: space-between;
}

.news__list{
  display: block;
  align-items: center;
  border-bottom: solid 1px #000;
  flex-wrap: wrap;
}
.news__list-deta{
  display: flex;
  /* margin-right: 100%; */
}
.news__list-cat{
  /* position: relative; */
  background: #B31667;
  width: 130px;
  display: block;
  /* padding: 16px; */
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 16px;
  /* border: solid #B31667 1px; */
  margin: 0 auto 0;
}
.news__list-detail{
  display: flex;
  justify-content: flex-end;
  /* margin-top: -16px;
  padding: 0 0 10px 0 ; */
}

/* .small-container */


#blog{
  background: #f5f5f5;
}
.flex__item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.blog-wrap__item{
  position: relative;
  width: 30%;
  margin: 30px;
  border-radius: 10px;
  background: #fff
  ;
}

.blog-wrap__item-cat{
  display: block;
  position: absolute;
  background: #B31667;
  color: #fff;
  width: 40px;
  height: 24px;
  border-radius: 10px 0 0 0;
}

.blog__img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.blog__item-content {
  padding: 15px 25px;
  color: #888888;
}
.blog__ttl {
  font-size: 18px;
  margin-bottom: 30px;
}
.flex__tag {
  display: inline-block;
  margin-left: 20px;
  color: #888888;
  font-size: 14px;
  text-align: right;
}

.blog__link {
  position: relative;
  background: #fff;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #B31667;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  border: solid #B31667 1px;
  margin: 10px auto 0
;
}
/* #blog */


#company{
  display: block;
}
.company-table{
  border-collapse: collapse;
  border: 1px solid #000;
  margin: auto;
}
.company__th {
  border:1px #000  solid;
  background: #f5f5f5;
  padding: 20px;
  width: 10vw;
}
.company__td{
  border:1px #000  solid;
  padding: 20px;
  width: 400px;
}

/* #company */

.recruit__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }


/* .recruit__item */

  #contact{
    text-align: center;
  }

  .contact__ttl{
    font-size: 20px;
  }
  .contact__btn{
  margin-top: 30px;
  position: relative;
  background: linear-gradient(#FF1C90,#B51A68);
  width: 200px;
  display: block;
  padding: 18px;
  color: #fff;
  /* font-size: 16px; */
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0 -5px 0px 0px rgba(70, 66, 66, 0.5) inset;
}

.contact__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  /* margin: 100px auto;   */ 
}


.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}
footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: #888;
  color:#222;
  clear: both;
  bottom: 0;
  
}