* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
div{
  display: block;
}
.common__sub-ttl {
  font-family: 'Devonshire', cursive;
  color: maroon;
  z-index: 2;
  display: flex;
  /* justify-content: ; */
}
.common__ttl {
  font-size: 20px;
  width: max-content;
  color: #707070;
}
.flex__item {
  display: flex;
  position: relative;
  justify-content: space-between;
  /* flex-direction: row; */
  /* justify-content: space-around; */
}
/* .flex__news {
  display: flex;
  position: relative;
  flex-wrap: wrap;
} */
.flex__service {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}



.header {
  position: flex;
  width: 100%;
  padding: 30px 0;
  /* background-color: #fff; */
  /* text-align: left; */
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 3;
}
#header-left{
  margin-left: 10px;
}
.header-parts {
  width: 50%;
}
#header__logo {
  word-break: break-all;
}
#header__logo img{
  width: 120px;
}
/* img:not(#header__logo){
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  box-sizing: border-box;
} */
#header-r {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}
.header-nav {
  margin-right: 20px;
  display: flex;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item{
  color: #909090;
  margin: 0 18px;
}

ul{
  list-style: none;

}


/* .header */

#main{
  /* position: absolute; */
  margin-top: auto 0;
  z-index: 0;
}

.firstview{
  /* position: absolute; */
}
.firstview__eyecatch {
  position: relative;
}

.firstview__eyecatch img {
  display: block;
  margin: 0 0 0 auto;
  width: 50%;
}
.firstview__content{
  margin-left: 35%;
  margin-top: -23%;
  /* margin-bottom: auto; */
  position: absolute;

}
.firstview__content-eyecatchdiv{
  color: #B31667;
  font-size: 72px;
  font-family: 'Nanum Pen Script', cursive;
}
.change__clr{
  color: #16B7B3;
  font-family: 'Nanum Pen Script', cursive;
}
.firstview__content-sub-copy{
  margin-top: 32px;
  color: #B31667;
  font-size: 25px;
  font-family: 'Nanum Pen Script', cursive;
}
.firstview__content-text{
  color: #888;
}

/* .firstview */

.small-container{
display: grid;
justify-content: center;
padding-bottom: 50px;
}
.common{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 26px;
}
.news__list{
  display: block;
  justify-content: space-around;
  flex-direction: column;
  width: auto;
  /* align-items: center; */
  flex-wrap: wrap;
  
}
.news__list-li{
  display: flex;
  /* border-top: solid 1px #000; */
}
.news__list-link{
  border-bottom: solid 1px #000;
  border-top: solid 1px #000;
  padding: 20px 0;
  white-space: nowrap;
  display: flex;
}
.news__list-deta{
  display: flex;

}
.news__list-cat{
  /* position: relative; */
  background: #B31667;
  width: 100px;
  display: block;
  /* padding: 16px; */
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 16px;
  margin: 0 20px 0;
}
.news__list-detail{
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  /* padding: 0 0 10px 0 ; */
}

/* .small-container */

#about{
  width: 100%;
  background: #e2e2e2;
}
.container{
  display: flex;
  flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;

}
.common__block{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
}
.text__box{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 1%;
  margin-right: 5%;

}
.about__item-text{
width: 50%;
align-items: center;
font-size: 14px;
}
.about__item-img{
  width: 25%;
  padding: 1% 0 3%;
  margin-right: auto;
  margin-left: 5%;
}
.about__item-img img{
  width: 100%; 
}
/* .about */
.service{
  display: block;
  padding: 5% 25% 5% 30% ;
  /* margin-left: -10%; */
}
.service-wrap__item--first{
  background-color: #B31667;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  justify-content: center;
}
.service-wrap__item--first img{
  align-items: center;
  width: 40%;
  display: inline;

}
.service-wrap__item{
  display: block;
  height: 100%;
  /* min-width: 497.14px; */
  
}
.service-wrap__item--second {
  background-color: #B35B8B;
  display: flex;
  align-items: center;
  min-height: 228.5px;
}
.service-wrap__item--second img {
  /* align-items: center; */
  width: 15vh;
  display: flex;
  flex-wrap: nowrap;
}
.service-wrap__item--therd {
  min-height: 228.5px;
  background-color: #B2889E;
  display: flex;
  align-items: center;
}
.service-wrap__item--therd img {
  /* align-items: center; */
  width:15vh;
  display: flex;
}

.service-wrap__item-content{
  color: #fff;
}
.service-wrap__item--content-ttl{
  padding: 16px 0;
}
.text__box-service{
  padding: 0 11% 50px;
  
} 
.service__text{
  text-align: left;
  display: inline-block;
  overflow-wrap: break-word;
  
}
/* .service */


#blog{
  background: #f5f5f5;
}
.blog-wrap__item{
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  width: 28%;
  border-radius: 10px;
  background: #fff
  ;
}
.blog-wrap__item-cat{
  display: block;
  position: absolute;
  background: #B31667;
  color: #fff;
  width: 40px;
  height: 24px;
  border-radius: 10px 0 0 0;
}
.blog__img{
  width: 100%;
  vertical-align: bottom;
}

.blog__img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.blog__item-content {
  color: #888888;
}
.blog__ttl {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: left;
}
.blog-wrap__item-content-tag{
  display: block;
  margin: 20px;
  color: #888888;
  text-align: center;
}

.blog__link {
  position: relative;
  background: #fff;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #B31667;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  border: solid #B31667 1px;
  margin: 15px auto 25px
;
}
/* #blog */


#company{
  display: flex;

  flex-direction: column;
  margin: 40px 25%;
}
.company-table{
  border-collapse: collapse;
  border: 1px solid rgb(125, 125, 125);
}
.company__th {
  border:1px rgb(125, 125, 125) solid;
  background: #f5f5f5;
  padding: 20px;
  width: 10vw;
}
.company__td{
  border:1px rgb(125, 125, 125)  solid;
  padding: 20px;
  width: 400px;
}

/* #company */

#recruit{
  display: flex;
  margin-bottom: 15%;

}

.recruit__item{
  display: flex;

}
.backgraund{
  /* margin-right: 50%; */
  width: 100%;
  height: 100%;
  display: block;
}
.bgimg{
  float: left;
  width: 50%;
  height: 100%;
  margin: 0 -10%;
}
.float-end{
  clear: both;
}

.recruit__logo-left{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: #fff;
  /* padding: 0;
  margin: 0; */
  /* transform: translate(-50%, -50%); */
}
.recruit__logo-right{
  position: absolute;
  display:flex;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: #fff;
  /* padding: 50%;
  margin-right: 0; */
  /* transform: translate(-50%, -50%); */
}
.recruit__item_logo{
  position: absolute;
  display: flex;

}
/* .recruit__item */

  #contact{
    text-align: center;
    margin: 5%;
  }

  .contact__ttl{
    font-size: 20px;
    margin-bottom: 3%;
  }
  .contact__btn{
  margin-top: 30px;
  position: relative;
  background: linear-gradient(#FF1C90,#B51A68);
  width: 200px;
  display: block;
  padding: 18px;
  color: #fff;
  /* font-size: 16px; */
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0 -5px 0px 0px rgba(70, 66, 66, 0.5) inset;
}

.contact__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  /* margin: 100px auto;   */ 
}


/* .wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
} */
footer{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 10%;
  background: rgb(161, 160, 160);
  color:#222;
  clear: both;
  bottom: 0;
  
}